:root {
  --clr-neon: hsl(317 100% 54%);
  --clr-bg: hsl(323 21% 16%);
}
body {
  background: hsl(320, 22%, 11%);
  font-family: "Balsamiq Sans", cursive;
  color: hsl(317 100% 54%);
  display: grid;
  place-items: center;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
